.Resolution{
    position: relative;
    width: 1920px;
    height: 2601px;
    
    background: #FFFFFF;
}
.body{
    position: relative;
    font-family: 'Futura';
    display: flex;
    flex-wrap: nowrap;

    width: 1652px;
    height: 54px;
    left: 133px;
    top: 66px;
}
.Vitamin{
    position: absolute;
    width: 223px;
    height: 46px;
    left: 133px;
    top: 66px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 46px;
    
    color: #000000;
}
.Main{
    position: absolute;
    width: 82px;
    height: 26px;
    left: 481px;
    top: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 127.9%;
    text-decoration: none;
    text-align: center;
    
    letter-spacing: 0.02em;
    
    color: #000000;
}

.Market{
    position: absolute;
    width: 82px;
    height: 26px;
    left: 602px;
    top: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 127.9%;
    text-decoration: none;
    text-align: center;
    
    letter-spacing: 0.02em;
    
    color: #000000;
    
}

.Market:hover{
    border-bottom: 2px solid red;
}

.Bucket{
    position: absolute;
    width: 165px;
    height: 52px;
    right: 135px;
    top: 68px;

    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Bucket:hover{
    background-color: black;
    color: white;
}

.Bucket_Text{
    width: 80px;
    height: 20px;
    left: 1663px;
    top: 84px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 101.4%;

    letter-spacing: -0.03em;
    text-align: center;
}

.Rectangle{
    position: absolute;
    width: 49px;
    height: 49px;
    right: 321px;
    top: 68px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #000000;
}
.Zero{
    position: absolute;
    width: 13px;
    height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 101.4%;
    text-align: center;

    letter-spacing: -0.03em;

    color: #FFFFFF;
}
