.Resolution{
    position: relative;
    width: 1920px;
    height: 2601px;
    
    background: #FFFFFF;
}
.footer{
    position: absolute;
    font-family: 'Futura';
    color: white;
    background-color: black;

    width: 1920px;
    height: 468px;
    left: 0px;
    top: 2132px;

}
.Vitamiinipunkt{
    position: absolute;
    width: 223px;
    height: 46px;
    right: 1561px;
    bottom: 354px;

    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 46px;

    color: #FFFFFF;
}
.Contacts_Contacts{
    position: absolute;
    width: 114px;
    height: 28px;
    right: 372px;
    bottom: 360px;
    
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
    
    border: 1px solid #000000;
}
.Contacts_Numbers{
    position: absolute;
    width: 175px;
    height: 28px;
    right: 310px;
    bottom: 294px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
.Contacts_email{
    position: absolute;
    width: 280px;
    height: 28px;
    right: 206px;
    bottom: 234px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
.Address_Address{
    position: absolute;
    width: 190px;
    height: 28px;
    right: 734px;
    bottom: 360px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
.Address_Astri{
    position: absolute;
    width: 134px;
    height: 28px;
    right: 790px;
    bottom: 294px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
.Address_Fama{
    position: absolute;
    width: 150px;
    height: 28px;
    right: 774px;
    bottom: 234px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
.Social_Social{
    position: absolute;
    width: 213px;
    height: 28px;
    right: 1149px;
    bottom: 361px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
.Social_Facebook{
    position: absolute;
    width: 106px;
    height: 28px;
    right: 1256px;
    bottom: 294px;
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
.Social_Instagram{
    position: absolute;
    width: 107px;
    height: 28px;
    right: 1255px;
    bottom: 239px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}
.Company{
    position: absolute;
    width: 318px;
    height: 32px;
    right: 1470px;
    bottom: 63px;
    
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.Terms{
    position: absolute;
    width: 93px;
    height: 28px;
    right: 135px;
    bottom: 64px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #7F7F7F;
}
.Confident{
    position: absolute;
    width: 244px;
    height: 28px;
    right: 291px;
    bottom: 64px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #7F7F7F;
}
.Line{
    position: absolute;
    width: 1654px;
    height: 0px;
    right: 133px;
    bottom: 148px;

    border: 2px solid #808080;
}