.footer {
	&__body {
		background-color: #000;
		color: #FFF;
		padding: 0px 130px 60px 130px;
		font-family: "Futura";
	}

	&__vitaminiipunkt-info {
		display: flex;
		border-bottom: 2px solid #808080;
	}

	&__title {
		font-weight: 500;
		font-size: 35px;
		margin-right: 200px;
		margin-top: 70px;
		margin-bottom: 200px;
	}

	&__social-networks, &__places-addresses, &__contacts {
		display: flex;
		flex-direction: column;
		font-family: "Arial";
		margin-top: 80px;
	}

	&__social-networks {
		margin-right: 230px;
	}


	&__places-addresses {
		margin-right: 250px;
	}

	&__sub-title {
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 40px;
	}

	&__list-column {
		display: flex;
		flex-direction: column;
	}


	&__list-item {
		margin-bottom: 30px;
	}

	&__link {
		font-size: 24px;
		color: #FFF;
	}

	&__narvatechnique-info {
		display: flex;
	}

	&__firm-name {
		font-weight: 500;
		font-size: 24px;
		margin-top: 50px;
	}

	&__nav-pos-end {
		margin: 50px 0px 0px auto;
	}

	&__list-row {
		display: flex;
		flex-direction: row;
		margin-left: auto;
	}

	&__list-element {
		margin-left: 60px;
	}

	&__link-confidentiality, &__link-terms {
		color: #7F7F7F;
		font-size: 24px;
	}
}
