@font-face { 
    font-family: "futura-bold";
    src: url("../../fonts/futura-bold.woff2") format("woff2"),
		 url("../../fonts/futura-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face { 
    font-family: FuturaMediumC;
    src: url("../../fonts/FuturaMediumC.woff2") format("woff2"),
		 url("../../fonts/FuturaMediumC.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}