@font-face {
	font-family: "Futura", Arial, sans-serif;
	src: url("../../fonts/futura-bold.woff2") format("woff2"),
			url("../../fonts/futura-bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Futura", Arial, sans-serif;
	src: url("../../fonts/FuturaMediumC.woff2") format("woff2"),
			url("../../fonts/FuturaMediumC.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
